body {
  background: #222222;
}

p {
  line-height: 1.5;
  font-family: Sans-Serif;
}

#header {
  background-image: url('bg.jpeg');
  background-size: cover;
  height: max-content;
}

h1 {
  color: lime;
  font-family: Monospace;
}

#header img {
  filter: grayscale(80%);
}

#about p, #projek p {
  color: #ffffff;
  opacity: 0.5;
}

#about h3 {
  opacity: 1;
  color: lime;
}

h3 {
  font-family: Monospace;
  color: lime;
}

#header i {
  color: lime;
  box-shadow: 0px 0px 20px 6px rgba(0, 255, 0, 0.7);
}

#skills .card img {
  border-radius: 100%;
  box-shadow: 0px 8px 20px rgba(0, 255, 0, 0.7);
}

#header .btn {
  background: lime;
  color: #222222;
}

#projek .btn {
  color: #222222;
  background: lime;
}